h1 {
  font-family: poppins;
  font-weight: 600;
}

h2 {
  font-family: poppins;
  font-weight: 600;
}

p {
  font-family: Open Sans;
}

body {
  padding: 0%;
  margin: 0%;
}
header {
  background-image: url(../medias/images/bg_hero_desktop.svg);
  background-color: hsl(193, 100%, 96%);
  display: grid;
  grid-template-areas:
    "up"
    "title-image";
  padding-right: 77px;
}

.header-up {
  grid-area: up;
}

.header-container-text {
  margin-top: 180px;
  margin-right: 5px;
  margin-left: 5px;
}

.header-container-text-button {
  text-align: center;
  color: white;
  background-color: hsl(322, 100%, 66%);
  width: 155px;
  border-radius: 40px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 30px;
}

header div p {
  padding: 10px;
  padding-right: 278px;
}

header div img {
  width: 600px;
}
.header-up-logo {
  height: 60px;
  width: 200px;
  margin-top: 28px;
  margin-left: 50px;
}

.header-up-button {
  grid-area: buton;
  margin-right: 65px;
  background-color: white;
  right: 0px;
  position: absolute;
  border-radius: 65px;
  width: 120px;
  top: 10px;
  text-align: center;
  padding: 5px 5px 5px 15px;
}

.header-container {
  display: grid;
  grid-template-areas: "title image";
}

.header-container-text-main-title div img {
  grid-area: image;
}

.header-container-text {
  grid-area: title;
}

.main {
  display: grid;
  gap: 15px;
}
.main-together {
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-together {
  display: grid;
  grid-template-areas: "text image";
}

.main-together-text {
  display: grid;
  grid-area: text;
}

.main-together-img {
  display: grid;
  grid-area: image;
}

.main-conversation {
  border-style: solid;
}

.main-conversation {
  display: grid;
  grid-template-areas: "image text";
}

.main-conversation-img {
  display: grid;
  grid-area: image;
}

.main-conversation-text {
  display: grid;
  grid-area: text;
}

.main-user {
  border-style: solid;
}

.main-user {
  display: grid;
  grid-template-areas: "text image";
}

.main-user-text {
  display: grid;
  grid-area: text;
}

.main-user-img {
  display: grid;
  grid-area: image;
}
footer {
  background-color: hsl(192, 100%, 9%);
}
