@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* h1 {
  font-family: poppins;
  font-weight: 600;
  margin-right: 195px;
} */

h2 {
  font-family: poppins;
  font-weight: 600;
}

p {
  font-family: Open Sans;
}

body {
  padding: 0%;
  margin: 0%;
}
header {
  background-image: url(../medias/images/bg_hero_desktop.svg);
  background-color: hsl(193, 100%, 96%);
  display: grid;
  grid-template-areas:
    "up"
    "title-image";
  padding: 10vh 5vw;
}

.header-up {
  grid-area: up;
  display: grid;
  grid-template-areas: "logo buton";
  margin-bottom: 20vh;
}
.header-up-logo {
  height: 30px;
  width: 200px;
  grid-area: logo;
}
.header-up-button {
  grid-area: buton;
  justify-self: flex-end;
  background-color: white;
  border-radius: 65px;
  width: 120px;
  padding: 10px 30px;
  box-shadow: 0px 3px 10px #ccc;
  text-align: center;
  align-self: center;
}

.header-up-button:hover {
  color: gray;
  cursor: pointer;
}
.header-container {
  display: grid;
  grid-template-areas: "title image";
}
.header-container-text {
  padding-top: 70px;
}
.header-container-text-main-title {
  font-family: "Poppins";
  padding-right: 22px;
}
.header-container-text p {
  margin-bottom: 10px;
}
.header-container-text-button {
  text-align: center;
  color: white;
  background-color: hsl(322, 100%, 66%);
  width: 225px;
  border-radius: 40px;
  padding: 15px 10px;
  margin-top: 30px;
}

.header-container-text-button:hover {
  background-color: hsl(322, 79%, 74%);
  cursor: pointer;
}

.header-container img {
  width: 50vw;
  margin-left: 10vw;
}

.header-container-text-main-title div img {
  grid-area: image;
}

.main {
  display: grid;
  gap: 40px;
  padding: 20vh 5vw 10vh;
}
.main-together {
  box-shadow: 0px 3px 10px #ccc;
  border-radius: 20px;
  display: grid;
  grid-template-areas:
    "title image"
    "text image";
  padding: 15vh 3vw 15vh 10vw;
  column-gap: 20vw;
}
.main-together-title {
  display: grid;
  grid-area: title;
  align-self: end;
}
.main-together-text {
  display: grid;
  grid-area: text;
  /* width: 65%; */
}

.main-together-img {
  display: grid;
  grid-area: image;
  width: 30vw;
  justify-self: center;
}

.main-conversation {
  box-shadow: 0px 3px 10px #ccc;
  border-radius: 20px;
  display: grid;
  grid-template-areas:
    "image title"
    "image text";
  padding: 15vh 2vw 15vh 10vw;
  column-gap: 17vw;
}

.main-conversation-img {
  display: grid;
  grid-area: image;
  width: 30vw;
}

.main-conversation-text {
  display: grid;
  grid-area: text;
}

.main-conversation-title {
  display: grid;
  grid-area: title;
  align-self: flex-end;
}

.main-user {
  display: grid;
  grid-template-areas:
    "title image"
    "text image";
  box-shadow: 0px 3px 10px #ccc;
  border-radius: 20px;
  padding: 15vh 2vw 15vh 10vw;
}

.main-user-title {
  display: grid;
  grid-area: title;
  align-self: flex-end;
}

.main-user-text {
  display: grid;
  grid-area: text;
}

.main-user-img {
  display: grid;
  grid-area: image;
  width: 30vw;
}

.main-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 125px;
  background-color: white;
  box-shadow: 0px -3px 5px #ccc;
  border-radius: 20px;
  margin: 0 20vw;
}
.main-start-title {
  margin: 50px 0 20px;
}
.main-start-button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 60px;
  text-align: center;
  padding: 20px 75px;
  margin: 0 0 50px;
}
.main-start-button:hover {
  background-color: hsl(322, 79%, 74%);
  cursor: pointer;
}
footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  padding: 20vh 10vw 10vh 10vw;
}

.footer-logo {
  display: grid;
  grid-area: logo;
}

.footer-informations {
  display: grid;
  grid-area: location;
  grid-template-areas: "location about blog social";
  grid-template-columns: 1fr 2fr 1fr;
  position: relative;
  top: 6vh;
}
.footer-informations-contact {
  grid-area: location;
}

.footer-information-about {
  display: grid;
  grid-area: about;
  margin-left: 25%;
}

.footer-informations img {
  display: flex;
}

.footer-information-about p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-information-blog p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-information-contact {
}

.footer-information-contact-location {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-information-contact-location img {
  position: relative;
  bottom: 55px;
}

.footer-information-contact-phone {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-information-contact-mail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-social {
  display: grid;
  grid-area: social;
  display: inline;
}

.footer-information-blog {
  display: grid;
  grid-area: blog;
}

.footer-information-about p a {
  color: white;
}

.footer-information-blog p a {
  color: white;
}

.icon-footer {
  border: 1px solid white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.footer-social i:hover {
  cursor: pointer;
  color: hsl(322, 100%, 66%);
  border-color: hsl(322, 100%, 66%);
}
.fa-facebook-f {
  width: 16.5px;
  height: 18px;
  padding: 5px 10px 5px 10px;
}
.fa-twitter {
  width: 18px;
  height: 18px;
  padding: 5px 7px 5px 7px;
}
.fa-instagram {
  font-size: 14px;
  padding: 6px 9px 5px 7px;
}
.footer-copyright {
  text-align: right;
}
